body {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.die {
  width: 120px;
  height: 120px;
  /* background: beige; */
  /* border: solid 3px black; */
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 150px;
}

p {
  margin: 0;
  padding: 0;
  z-index: -1;
  text-shadow: 2px 2px 4px #000000;
}

#dieDiv {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 100px; */
}

.btn {
  margin: 10px;
  background-color: rgb(173, 166, 166);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
